body {
    background-color: #e9ecef;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 70%;
    margin: 2% 0 2% 15%;
    background-image: url(../../imagens/fundoLogin.jpg);
    background-size: cover;
    border-radius: 10px;
}

.container {
    padding: 20px;
}

.container label {
    font-size: 18px;
    color: white;
}

.text-input {
    width: 49%;
}

.style-input {
    margin-left: 2%;
    float: right;
}

.cadastro {
    margin: 0 20px 0 20px;
}

span {
    font-size: 10px;
    color: white;
}

h1 {
    margin-top: 20px;
    margin-bottom: 40px;
    text-shadow: 2px 1px 2px gray;
    color: white;
    font-size: 24px;
}

.botao {
    width: 10%;
    margin-left: 45%;
}