body {
    background-color: #e9ecef;
    font-family: Arial, Helvetica, sans-serif;
}

#map {
    width: 100%;
    height: 400px;
    margin-top: 5px;
}

.painel {
    width: 15%;
    float: left;
    margin: 15px 15px 5px 15px;
    text-shadow: 2px 1px 2px gray;
}

.painel p {
    font-size: 24px;
    text-align: center;
}

.painel h1 {
    font-size: 30px;
}

.fonte {
    font-size: 12px;
    width: 15%;
    float: right;
}

.fonte p {
    margin: 100px 0 0 0;
}

.fonte a {
    color: black;
}

.container {
    width: 70%;
    height: 100px;
    border: solid 1px black;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card {
    display: inline-block;
    width: 24%;
    height: 100%;
    border: none;
    text-align: center;
    background-color: #e9ecef;
}

.card-1,
.card-2,
.card-3 {
    border-right: solid 1px gray;
}

.card p {
    font-size: 16px;
}

.topico {
    text-shadow: 2px 1px 2px gray;
    margin-top: 50px;
    text-align: center;
}

.topico h1 {
    font-size: 25px;
}

.cidades {
    width: 15%;
    float: left;
    line-height: 20px;
}

.cidades p {
    margin: 0 0 0 70%;
    font-size: 14px
}

.grafico {
    width: 70%;
    margin: 0 0 20px 15%;
}

.progress {
    height: 20px;
}

.grafic001 {
    background: gray;
}

.grafic002 {
    background: #cccccc;
}