body {
    background-color: #e9ecef;
    font-family: Arial, Helvetica, sans-serif
}

main {
    width: 60%;
    margin: 10px 0 10px 20%;
    background-image: url(../../imagens/fundoLogin.jpg);
    background-size: cover;
    border-radius: 10px;
}

.container img {
    width: 10%;
    margin-left: 45%;
}

.container label {
    color: white;
}

.container {
    padding: 10px;
}

.login {
    margin: 0 20px 0 20px;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
}

.login h1 {
    text-shadow: 2px 1px 2px gray;
    color: white;
    font-size: 24px;
}

.cadastro {
    margin-left: 20px;
    display: inline-block;
}

.hospital {
    margin-left: 61%;
}

.cadastro a {
    color: white;
}

form button {
    width: 10%;
    margin: 0 0 15px 45%;
}